# Dependencias 
node_modules/
backend/node_modules/
.pnpm/

backend/db/schema.sql
backend/scripts/

# Archivos de entorno y secretos
.env
.env.*

# Build y cachés
dist/
build/
**/.vite/

.DS_Store
Thumbs.db