# Dependencias 
node_modules/
backend/node_modules/
.pnpm/

backend/db/schema.sql
backend/scripts/
backend/scripts/createAdmin.js
backend/scripts/seedMenu.js
backend/scripts/seedVentas.js

# Archivos de entorno y secretos
.env
.env.*

# Build y cachés
dist/
build/
**/.vite/

.DS_Store
Thumbs.db